name: Release packages

on:
    release:
        types: [released]

env:
    RELEASE_VERSION: ${{ github.event.release.tag_name }}

permissions:
    contents: read

jobs:
    publish:
        runs-on: ubuntu-latest
        name: Publish to Registry

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup node
              uses: actions/setup-node@v4
              with:
                  node-version: '24.x'
                  registry-url: https://registry.npmjs.org

            - name: Setup Bun
              uses: oven-sh/setup-bun@v2

            - name: Install dependencies
              run: bun install --frozen-lockfile

            - name: Tag version
              run: |
                  bun pm version --cwd packages/utils $RELEASE_VERSION --no-git-tag-version || true
                  bun pm version --cwd packages/api-core $RELEASE_VERSION --no-git-tag-version || true
                  bun pm version --cwd packages/prototype-extensions $RELEASE_VERSION --no-git-tag-version || true

            - name: Build packages
              run: |
                  bun --cwd packages/utils build
                  bun --cwd packages/api-core build
                  bun --cwd packages/prototype-extensions build

            - name: Publish packages
              run: |
                  bun publish --cwd packages/utils --access public
                  bun publish --cwd packages/api-core --access public
                  bun publish --cwd packages/prototype-extensions --access public
              env:
                  NPM_CONFIG_TOKEN: ${{ secrets.NPM_TOKEN }}
